* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "sans serif";
}

header {
    width: 100%;
    height: 20vh;
    border: 1px dashed blue;
}

section {
    width: 100%;
    height: 100vh;
    border: 1px dashed red;
}

footer {
    width: 100%;
    height: 50px;
    border: 1px dashed olivedrab;
}

nav#main_nav li {
    display: inline;
    padding: 5px;
}