* {
	padding: 0;
	margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 15vh;
}

body {
	font-family: "sans serif";
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    height: 15vh;
    position: sticky; top: 0;
    font-size: 1.5rem;
    border: 1px dashed blue;
}

section {
    width: 100%;
    height: 100vh;
    top: 15vh;
    border: 1px dashed red;
}

section#home {
    background-color: #14648c;
}

section#about_me {
    background-color: #f288d9;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #161a17;
    border: 1px dashed olivedrab;
}

nav#main_nav {
    height: 100%; width: 100%;
    padding-bottom: 10px;
    display: flex;
    align-content: center; justify-content: center;
    align-items: flex-end;
    text-align: center;
    /* border: 1px dashed red; */
}

nav#main_nav li {
    display: inline;
    padding: 5px; 
    text-transform: uppercase;
    /* border: 1px dashed red; */
}

/* -- LARGER SCREENS -- */

@media screen and (min-width: 900px) {
    section {
        width: 75%;
        margin: auto;
        border: 1px dashed black;
    }
}